<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>version</key>
    <string>2.0.0</string>
    <key>warning</key>
    <string>请不要修改这个文件中的内容</string>
    <key>project</key>
    <dict>
      <key>projectId</key>
      <integer>105873</integer>
    </dict>
    <key>application</key>
    <dict>
      <key>appId</key>
      <integer>105292</integer>
      <key>platform</key>
      <string/>
      <key>packageId</key>
      <string>com.nana.V1.0itemsofdota2</string>
    </dict>
    <key>services</key>
    <dict>
      <key>analytics</key>
      <dict>
        <key>appKey</key>
        <string>Iqcloud105292</string>
        <key>enable</key>
        <true/>
        <key>appId</key>
        <string>105292</string>
        <key>strategy</key>
        <integer>2</integer>
        <key>minBatchReportCount</key>
        <string>30</string>
        <key>sendPeriodMillis</key>
        <integer>10800000</integer>
        <key>smartReporting</key>
        <true/>
        <key>sessionTimeoutMillis</key>
        <integer>30000</integer>
        <key>autoTrackPageEvents</key>
        <true/>
        <key>multiProcess</key>
        <true/>
        <key>channelUrl</key>
        <string/>
        <key>ifNeedCookie</key>
        <false/>
      </dict>
      <key>messaging</key>
      <dict>
        <key>appId</key>
        <string>2200316292</string>
        <key>appKey</key>
        <string>I3CPC8XF981Q</string>
        <key>huaweiAppId</key>
        <string/>
        <key>xiaomiAppId</key>
        <string/>
        <key>xiaomiAppKey</key>
        <string/>
        <key>meizuAppId</key>
        <string/>
        <key>meizuAppKey</key>
        <string/>
        <key>autoStart</key>
        <true/>
      </dict>
      <key>crash</key>
      <dict>
        <key>appId</key>
        <string>1a836a8fff</string>
        <key>enable</key>
        <true/>
        <key>consolelogEnable</key>
        <true/>
        <key>blockMonitorEnable</key>
        <true/>
        <key>blockMonitorTimeout</key>
        <integer>2</integer>
        <key>applicationGroupIdentifier</key>
        <string/>
        <key>symbolicateInProcessEnable</key>
        <true/>
        <key>unexpectedTerminatingDetectionEnable</key>
        <true/>
        <key>viewControllerTrackingEnable</key>
        <true/>
        <key>excludeModuleFilters</key>
        <array/>
      </dict>
      <key>payment</key>
      <dict>
        <key>offerId</key>
        <string>TC105292</string>
      </dict>
      <key>storage</key>
      <dict>
        <key>bucket</key>
        <string>tac-d2sp-st-1254220967</string>
        <key>region</key>
        <string>ap-hongkong</string>
      </dict>
    </dict>
  </dict>
</plist>